input.field:invalid {
  outline: 2px solid red;
}

input.auto:valid {
  outline: 2px solid green;
}

input.field:required {
	box-shadow: 7px 7px 7px #888888;
}

input.field:in-range {
	background:green;
}

input.field:out-of-range {
	background:red;
}

input.field:optional {
	border-bottom: 2px dashed #D7D7D0;
}

input.field:read-only {
  border: 2px dashed black;
}